.epk-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.epk-container iframe {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
}
